
.form-container {
  text-align: center;
  width: fit-content;
  margin: 10% auto;
  border-style: solid;
  border-radius: 5%;
  width: 40%;
  height: auto;
  background-color: #A9927D;
  padding-bottom: 2%;
  max-width: 25rem;
  min-width: 15rem;
} 


.password-wrapper {
  position: relative;
}

.password-btn {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #444242;
}