:root {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #F1FFE7;
  padding: 0;
  margin: 0;
}


body {
  margin: 0px;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* submit button styling */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* input boxes styling */
input {
  border-radius: .5rem;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  width: 75%;
}

/* navigation bar styling */
.nav-bar {
  display: block;
  justify-content: space-between;
  align-items: center;
  
  background-color: #4C191B; 
  padding: 1rem 2rem;
  color: white;
  font-size: 1.2rem;
  margin: 0;
  overflow: hidden;
  width:100%;
}

/* navigation bar link styling */
.nav-bar a {
  color: whitesmoke;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  display: block;
  text-align: center;
  float: left;
}

.nav-bar a:hover {
  color: #8783D1;
  font-size: 1.3rem;
}

